
<div class="panel-body">
	<div ng-show="completed">
		<h3>Quiz Completed</h3>
		<h5>Your Score is {{score}}</h5>
	</div>


<div ng-show="!isQuestionsLoaded" >Loading .....</div>

<form  name="regForm"  ng-submit="submitForm()"  ng-animate="'animate'" ng-show="!completed && isQuestionsLoaded" >
	<div style="float: right; padding: 10px;font-weight: bold; color: blue;">
    <div>Remainging time : {{remaining_time_formated}}</div>
</div>
<br/><br/>

	<ul class="list-group">
		<li  class="list-group-item">({{question_number}}) Question:
			<span>{{question.title}}</span>
		</li>

		<li  class="list-group-item">
			<input type="radio" ng-model="userans" value="1" ng-required></input>
			<label for="usr">Option (a) :</label> 
			<span>{{question.answer1}}</span>
		</li>

		<li  class="list-group-item">
				<input type="radio" ng-model="userans" value="2" ng-required></input>
		<label for="usr">Option (b) :</label> 
		<span>{{question.answer2}}</span>
		</li>

		<li  class="list-group-item">
			 <input type="radio" ng-model="userans" value="3" ng-required></input>

		<label for="usr">Option (c) :</label> 
		<span>{{question.answer3}}</span>
		
		</li>
	

		<li  class="list-group-item">
			 <input type="radio" ng-model="userans" value="4" ng-required></input>

		<label for="usr">Option (d) :</label> 
		<span>{{question.answer4}}</span>
		</li>
	
		<li  class="list-group-item">
			<input type="button" ng-click="validateAnswer()" class="btn btn-primary active" value="Answer" ng-show="showSubmit"/>

		<input type="button"  ng-click="nextQuestion()" class="btn btn-default" value="Next" ng-show="!showSubmit" style="margin-left:250px;" />
		</li>
	
</form>




	</div>

